.login-form-container {
    width: 350px;
    margin: 100px auto;
    background: #fff;
    padding: 50px 70px 50px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #c7c7c7;
    position: relative;
    text-align: center;
}

.login-form-input-username {
    margin-right: 15px;
}

.login-form-submit-button {
    background-color: #2563eb;   /* blue */
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-form-submit-button:hover{
    background-color: #1e40af;   /* darker blue */
    transform: translateY(-2px); /* lift effect */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}