.login-container {
    width: 350px;
    margin: 100px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #c7c7c7;
    position: relative;
    text-align: center;
}

.top-right-link {
    position: absolute;
    top: 10px;
    right: 15px;
}

.top-right-link a {
    color: #0077cc;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.top-right-link a:hover {
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #0077cc;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}
